@model OrderVM
<style>
    .section-header {
      background-color: #3c3c3c;
      color: white;
      padding: 10px;
    }
    .btn-action {
      width: 100%;
      margin-bottom: 10px;
    }
    .form-section {
      background-color: #f8f9fa;
      padding: 20px;
      border-radius: 10px;
    }
</style>



<form method="post" asp-action="UpdateOrderDetail">
<div class="container mt-5">
    <div class="row">
        <!-- Left Column: Pickup Details -->
        <div class="col-md-6">
            <div class="section-header mb-3">
                <h5 class="mb-0">Order Summary</h5>
            </div>
            <div class="form-section">
                <h5>PickUp Details:</h5>


               


                    <input asp-for="OrderHeader.Id" type="hidden" />
                    <div class="row g-2">
                        <div class="col-md-6">
                            <label class="form-label">Name</label>
                            @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                            {
                                <input asp-for="OrderHeader.Name" class="form-control" />
                                <span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
                            }

                            else
                            {
                                <input asp-for="OrderHeader.Name" class="form-control" readonly />
                            }

                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Phone</label>
                            @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee)){
                                <input asp-for="OrderHeader.PhoneNumber" class="form-control" />
                                <span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
                            }
                            else{
                                <input asp-for="OrderHeader.PhoneNumber" class="form-control" readonly />
                            }
                        </div>
                        <div class="col-12">
                            <label class="form-label">Address</label>
                            @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                            {
                                <input asp-for="OrderHeader.StreetAddress" class="form-control" />
                                <span asp-validation-for="OrderHeader.StreetAddress" class="text-danger"></span>
                            }

                            else
                            {
                                <input asp-for="OrderHeader.StreetAddress" class="form-control" readonly />
                            }
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">City</label>
                            @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                            {
                                <input asp-for="OrderHeader.City" class="form-control" />
                                <span asp-validation-for="OrderHeader.City" class="text-danger"></span>
                            }

                            else
                            {
                                <input asp-for="OrderHeader.City" class="form-control" readonly />
                            }
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">State</label>
                            @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                            {
                                <input asp-for="OrderHeader.State" class="form-control" />
                                <span asp-validation-for="OrderHeader.State" class="text-danger"></span>
                            }

                            else
                            {
                                <input asp-for="OrderHeader.State" class="form-control" readonly />
                            }
                        </div>
                        
                        <div class="col-md-10">
                            <label class="form-label">Email</label>
                            <input asp-for="OrderHeader.ApplicationUser.Email" class="form-control" readonly />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Order Date</label>
                            <input value="@Model.OrderHeader.OrderDate.ToShortDateString()" class="form-control" readonly />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Carrier</label>
                            @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                            {
                                <input asp-for="OrderHeader.Carrier" id="carrier" class="form-control" />
                            }
                            else {
                                <input asp-for="OrderHeader.Carrier" class="form-control" readonly />
                            }
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Tracking</label>
                            @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))

                            {
                                <input asp-for="OrderHeader.TrackingNumber" id="trackingNumber" class="form-control" />
                            }

                            else
                            {
                                <input asp-for="OrderHeader.TrackingNumber" class="form-control" readonly />
                            }
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Shipping Date</label>
                            <input value="@Model.OrderHeader.ShippingDate.ToShortDateString()" class="form-control" readonly />
                        </div>
                        @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                        {

                            <div class="col-md-6">
                                <label class="form-label">Session ID</label>
                                <input asp-for="OrderHeader.SessionId" class="form-control" readonly />
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Payment Intent ID</label>
                                <input asp-for="OrderHeader.PaymentIntentId" class="form-control" readonly />
                            </div>

                        }


                        @if (Model.OrderHeader.SessionId == null)
                        {
                            <div class="col-md-6">
                                <label class="form-label">Payment Due Date</label>
                                <input value="@Model.OrderHeader.PaymentDueDate.ToShortDateString()" class="form-control" readonly />
                            </div>

                        } else
                        {
                            <div class="col-md-6">
                                <label class="form-label">Payment Date</label>
                                <input value="@Model.OrderHeader.PaymentDate.ToShortDateString()" class="form-control" readonly />
                            </div>

                        }


                        <div class="col-md-6">
                            <label class="form-label">Payment Status</label>
                            <input asp-for="OrderHeader.PaymentStatus" class="form-control" readonly />
                        </div>
                    </div>
                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                    {
                        
                            <input type="submit" value="Update Order Details" class="btn btn-success btn-action mt-2"/>
                    }



               

            </div>
        </div>

        <!-- Right Column: Order Summary -->
        <div class="col-md-6">
            <div class="section-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Order Summary</h5>
                <button class="btn btn-outline-primary btn-sm">Back to Orders</button>
            </div>
            <div class="border p-3">
                <div class="mb-2">
                    <label class="form-label">Order Status </label>
                    <input type="text" class="form-control" value="ORDER STATUS - @Model.OrderHeader.OrderStatus" readonly />
                </div>

                @foreach(var item in Model.OrderDetail)
                {
                    <div class="mb-3">
                        <div class="d-flex justify-content-between">
                            <span>@item.Product.Title</span>
                            <span>@(item.Count * item.Price).ToString("c")</span>
                        </div>
                        <small>Price: @item.Price<br />Quantity: @item.Count</small>
                    </div>
                   
                }
                <div class="bg-dark text-white p-2 text-end">
                    <strong>TOTAL</strong> @Model.OrderHeader.OrderTotal.ToString("c")
                </div>

                
               
                @if (Model.OrderHeader.PaymentStatus == SD.PaymentStatusDelayedPayment && Model.OrderHeader.OrderStatus == SD.StatusShipped)
                {
                    <button type="submit" asp-action="Details" class="btn btn-success form-control my-1">Pay Now</button>
                }

                @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                {
                    @if (Model.OrderHeader.OrderStatus == SD.StatusApproved)
                    {
                        <button type="submit" asp-action="StartProcessing"  class="btn btn-primary form-control my-1">Start Processing</button>
                    }
                    @if (Model.OrderHeader.OrderStatus == SD.StatusInProcess)
                    {
                            <button type="submit" asp-action="ShipOrder"  onclick="return validateInput()" class="btn btn-primary form-control my-1">Ship Order</button>
                    }
                    @if (Model.OrderHeader.OrderStatus != SD.StatusRefunded &&
                   Model.OrderHeader.OrderStatus != SD.StatusCancelled &&
                   Model.OrderHeader.OrderStatus != SD.StatusShipped)
                    {
                            <button type="submit" asp-action="CancelOrder" class="btn btn-danger form-control my-1">Cancel Order</button>
                    }
                }
                
                 
              @*   <button class="btn btn-success btn-action mt-2">Pay Now</button>
                <button class="btn btn-dark btn-action mt-2">Start Processing</button>
                <button class="btn btn-primary btn-action mt-2">Ship Order</button>
                <button class="btn btn-danger btn-action mt-2">Cancel Order</button> *@
            </div>
             
        </div>
         
    </div>
</div>


</form>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function validateInput() {
            if (document.getElementById("trackingNumber").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter tracking number!',
                });
                return false;
            }
            if (document.getElementById("carrier").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter carrier!',
                });
                return false;
            }
            return true;
        }
    </script>
}









































































